# Build artifacts
dist
dist-ssr
coverage

# Dependencies
node_modules

# Lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Generated / vendored code
src/components/ui

# Logs & cache
*.log
.eslintcache

# Public static assets
public
